@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  font-family: sans-serif;
  margin: 0; /* Remove all body margins */
  font-size: 120%;
}

nav {
  background-color: #ffe27a;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  display: flex; /* Display the children of this element as flexible boxes */
  align-items: center; /* Align child flexible boxes in the vertical center */
  padding: 12px 24px;
  border: 1px solid #888;
  border-radius: 5px;
  position: relative;
  color: #555;
  text-decoration: none;
  transition: .2s ease-in;
}

nav p {
  text-align: center;
  flex-basis: 100px; /* Give each paragraph the same basic width */
  flex-grow: 1; /* Allow each paragraph to grow evenly to fill up the parent nav element */
}

nav a {
  color: rgb(42, 1, 1);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: red;
}

footer {
  background-color: rgb(147, 233, 254); /* background or background-color both work */
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  border-top: solid black 1px;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  font-family: "Shadows Into Light", cursive;
  font-size: 400%;
  font-weight: lighter;
  color: #000000;
}

h1, h2 {
  color: #0132c7;
  font-family: serif;
}

main {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 4em; /* Larger margin to allow for the footer */
}

.center {
  text-align: center;
}

.wrap {
  float: right;
}

/* Define the grid container */
.grid-container {
  display: grid;
  gap: 8px; /* Gap between grid items */
  grid-template-columns: 1fr 1fr 1fr; /* Three columns with equal width */
}

/* Style for each grid item */
.grid-item {
  border: 1px solid #925555;
  padding: 8px;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 200px;
}

/* Media query for screens smaller than 800 pixels */
@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr; /* Two columns */
  }
}

/* Media query for screens smaller than 600 pixels */
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; /* One column */
  }
}